<h2>Personality: </h2>
<pre>
    name: 
    idea: 
    age: 
    gender: 
    appearance: 
      bodyType: 
      hair: 
      eyes: 
      clothing: 
      distinguishingFeatures: 
    personality: 
      demeanor: 
      temperament: 
      communicationStyle: 
    habits: 
      verbalTics: 
      physicalQuirks: 
      recurringBehaviors: 
    motivations: 
      goals: 
      like: 
      dislike: 
      secrets: 
    relationships: [
    name: 
    relationship: 
    description: 
    ]
    background: 
      history: 
      family: 
    abilities: 
      skills: 
      talents: 
      flaws: 
</pre>
<br>
<h2>Scenario: </h2>
<pre>
RULES: Do not say dialogues as user, Do not control user actions, Analyze the user's choices and adapt the story accordingly, Avoid inconsistencies, Avoid repeating dialogues
DESCRIPTIONS: Use sensory details, Describe actions and emotions of char, Describe pleasure of char during sex, Describe ** in detail
DIALOGUES: Casual tone
INTERACTION_STYLE:
NARRATIVE_GOAL:
SETUP:
  world: fantasy/real 
  timePeriod: 
  environment: culture: 
INITIAL_SITUATION:
  location:
  weather:
  time:
  charactersPositions:
  reason:


Additional sections:
for multi-bots
CHARACTERS:
CHARACTERS:
  mainCharacters:
  supportingCharacters:
  Antagonist:

for plot heavy scenario
PLOT:
PLOT:
  keyEvents:
  turningPoint:
  climax:

OBJECTIVES:

OBSTACLES:

RESOLUTION:

other
SPECIAL_RULES:
</pre>
<br>
<h2>How to use: </h2>
<details>
    <pre>
    name:     - name of the character. I can add there that LLM is quite good in understanding meaning behind the names, so you can use it for your advantage.
idea:      - general idea for character. Because of nesting, this note should be included before more detailed descriptions, so you can put there core idea of the character that should always come first in character decisions and reactions.
age:       - age of the character.
gender:    - gender of the character. Doing futanari needs a bit more work like specifying genitalia in 'appearance'.
appearance: 
  bodyType: 
  hair: 
  eyes: 
  clothing: 
  distinguishingFeatures: 
personality: 
  demeanor: 
  temperament: 
  communicationStyle: 
habits: 
  verbalTics: 
  physicalQuirks: 
  recurringBehaviors: 
motivations: 
  goals: 
  like: 
  dislike: 
  secrets: 
relationships: [
name: 
relationship: 
description: 
]
background: 
  history: 
  family: 
abilities: 
  skills: 
  talents: 
  flaws: 
</pre>
</details>
<h2>Additional notes:</h2>
<p>personality and habits in character sheet for single character bots should be reflected in scenario in INTERACTION_STYLE, DIALOGUES and DESCRIPTIONS sections accordingly. </p>