@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

p {
    font-family: Courier, monospace;
}

body{
    background-color: rgb(0, 0, 0);
}
body, html {
    margin: 0;
    padding: 0;
}

.blur-image {
    filter: blur(10px);
}

.background{
    background: linear-gradient(rgb(49, 12, 83), rgb(130, 68, 143));
    min-height: 100vh;
}
.background > :first-child {
    margin-top: 0;
}
.background > :last-child {
    margin-bottom: 0;
}
.char-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: Courier, monospace;
    height: 100%;
    width: 90%;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    animation: bounce 1s ease-in-out both;
    animation-delay: 50ms;
}

.page-wide-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 85%;
    height: 200px;
    margin: 25px auto;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(32, 32, 32, 0.65);
    color: white;
    font-family: 'Cinzel', serif;
    animation: bounce 1s ease-in-out both;
}
.page-wide-section a{
    color: white;
    text-decoration: none;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Courier, monospace;
    height: 100%;
}
.tip-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    font-family: Courier, monospace;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    color: white;
    animation: bounce 1s ease-in-out both;
    animation-delay: 50ms;
}
.tip-container a{
    color: white;
    text-decoration: none;
}

:root {
    --scale: 1;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 432px;
    height: 432px;
    border-radius: 10px;
    background-color: rgba(32, 32, 32, 0.65);
    color: #ffffff;
    margin: 10px 20px;
    padding: 20px;
    text-decoration: none;
    animation: bounce 1s ease-in-out both;
    visibility: hidden;
    transform: scale(var(--scale));
}
.box h1, .box h2, .box h3, .box h4, .box h5, .box h6, .box p {
    margin: 5px;
}
.box:hover {
    --scale: 1.05;
}

@keyframes bounce {
    0% {
        transform: translateY(150px) scale(var(--scale));
        opacity: 0;
        visibility: visible;
    }
    60% {
        transform: translateY(-20px) scale(var(--scale));
        opacity: 1;
    }
    80% {
        transform: translateY(10px) scale(var(--scale));
    }
    100% {
        transform: translateY(0) scale(var(--scale));
        visibility: visible;
    }
}

.box a {
    color: inherit;
    text-decoration: none;
}

.round-image-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.round-image-container img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.box:nth-child(2) {
    animation-delay: 0.2s;
}
.box:nth-child(3) {
    animation-delay: 0.4s;
}
.box:nth-child(4) {
    animation-delay: 0.6s;
}
.box:nth-child(5) {
    animation-delay: 0.8s;
}
.box:nth-child(6) {
    animation-delay: 1s;
}
.box:nth-child(7) {
    animation-delay: 1.2s;
}
.box:nth-child(8) {
    animation-delay: 1.4s;
}
.box:nth-child(9) {
    animation-delay: 1.6s;
}

.rounded-block {
    background-color: rgba(32, 32, 32, 0.65); 
    width: 85%;
    margin: 25px auto;
    border-radius: 10px; 
    padding: 20px; 
    color: #fff;
    font-family: Courier, monospace; 
    overflow-x: auto; 
    animation: bounce 1s ease-in-out both;
    animation-delay: 100ms;
}
.rounded-block a{
    color: white;
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #03030373;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
    transform: scale(var(--scale));
}

.button:hover{
    --scale: 1.05;
}