body{
    background-color: rgb(49, 49, 49);
}

a{
    color: white;
    text-decoration: underline;
}

.container {
    display: flex;
    background-color: rgb(49, 49, 49); 
    height: 100vh;
}

.column {
    flex: 1;
    padding: 20px;
}

.column:first-child {
    flex-basis: 20%;
    background-color: rgb(37, 37, 37);
}

.column:last-child {
    flex-basis: 80%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.text {
    color: white;
    font-family: "Courier New", monospace;
}